// *color pallete:
$bg-color-light: #a7bcff;
$bg-color-sidebar: #3e3c61;
$bg-color-navbar: #2f2d52;
$light-color: #8da4f1;
$neutral-white: white;
$text-color: #5d5b8d;
$text-color-light: #ddddf7;

// * --- *

// *font:
$ff-primary: 'Inter', sans-serif;
// * --- *


// *default styling
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $ff-primary;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

// * --- *


// *REGISTER PAGE:
.formContainer {
    background-color: $bg-color-light;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper {
        background-color: $neutral-white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .logo {
            color: $text-color;
            font-weight: 700;
            font-size: 1.7rem;
        }

        .title {
            color: $text-color;
            font-size: 0.9em;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                outline: none;
                border-bottom: 1px solid $bg-color-light;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: $light-color;
                cursor: pointer;

                img {
                    height: 32px;
                }

                span {
                    font-size: 0.8rem;
                }
            }



            button {
                background-color: $bg-color-light;
                padding: 10px;
                color: $neutral-white;
                font-weight: 600;
                border: none;
                outline: none;
                cursor: pointer;
            }

            p {
                color: $text-color;
                font-size: 0.8rem;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}


// * --- *

// * Home page:
.home {
    background-color: $bg-color-light;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        border: 1px solid white;
        width: 65%;
        height: 80%;
        border-radius: 10px;
        overflow: hidden;

        .sidebar {
            flex: 1;
            background-color: $bg-color-sidebar;

            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 50px;
                background-color: $bg-color-navbar;
                padding: 20px;
                color: $bg-color-light;

                .logo {
                    font-weight: 700;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        background-color: $text-color-light;
                        height: 25px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        background-color: $text-color;
                        color: $text-color-light;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }

            .search {
                border-bottom: 1px solid gray;

                .searchForm {
                    input {
                        background-color: transparent;
                        color: white;
                        border: none;
                        outline: none;
                        padding: 10px;
                        
                        &::placeholder{
                            color: lightgray;
                        }
                    }
                }
            }

            .userChat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;

                &:hover{
                    background-color: $bg-color-navbar;
                }
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .chat {
            flex: 2;
        }
    }

}

// * --- *